<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos: {{ pageTitle }} {# Este hueco es para una variable#}</title> 
    
</head>
<body>
    <header>
        <p>Aplicacion Flask 1 de BZ XII </p>
        <p>
            <a href="/">Home</a> |
            <a href="/alta">Alta</a> |
            <a href="/baja">Baja</a> |
            <a href="/modif">Modificacion</a> |

        </p>
    </header>
    <section>
        {% block pageContent%}{% endblock %} 
    </section>
    <footer>
        <br>
        &copy; 2022 - Todos los derechos reservados 
        <br>
    </footer>

</body>
</html>